<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="yam">

  <!-- Arguments -->
  <xacro:arg name="use_gazebo" default="true"/>
  <xacro:arg name="ros2_controllers_path" default="yam_arm_moveit_config/config/ros2_controllers.yaml"/>

  <!-- Include the base robot description as xacro -->
  <xacro:include filename="$(find yam_arm_description)/urdf/yam.urdf.xacro"/>

  <!-- ROS2 Control for Gazebo -->
  <xacro:if value="$(arg use_gazebo)">
    <xacro:include filename="$(find yam_arm_description)/urdf/gazebo_sim_ros2_control.urdf.xacro"/>
    <xacro:load_gazebo_sim_ros2_control_plugin robot_name="yam" ros2_controllers_path="$(arg ros2_controllers_path)" use_gazebo="$(arg use_gazebo)"/>
    <xacro:include filename="$(find yam_arm_description)/urdf/ros2_control.urdf.xacro" />
    <xacro:ros2_control_interfaces/>
  </xacro:if>
</robot>

