<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="yam">

  <!-- Arguments -->
  <xacro:arg name="use_gazebo" default="true"/>
  <xacro:arg name="ros2_controllers_path" default="yam_arm_moveit_config/config/ros2_controllers.yaml"/>

  <!-- Include the base robot description as xacro -->
  <xacro:include filename="$(find yam_arm_description)/urdf/yam_cam.urdf.xacro"/>

  <!-- ROS2 Control for Gazebo -->
  <xacro:if value="$(arg use_gazebo)">
    <!-- Gazebo ROS2 Control Plugin -->
    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(arg ros2_controllers_path)</parameters>
        <ros>
          <remapping>/controller_manager/robot_description:=/robot_description</remapping>
        </ros>
      </plugin>
    </gazebo>

    <!-- ROS2 Control Interfaces -->
    <ros2_control name="IgnitionSystem" type="system">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>
      <joint name="joint1">
        <command_interface name="position"/>
        <state_interface name="position" />
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="joint2">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="joint3">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="joint4">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="joint5">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="joint6">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_finger">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="right_finger">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </ros2_control>
  </xacro:if>
</robot>

